

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
 

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


  }

  @media only screen and (min-width: 968px) {

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

   
  }

 h1{

    font-family:"playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 63.98px;

  }

  h2{
    font-family: "playfair Display";
    font-weight: 700;
    font-size: 34px;
    line-height: 31.99px;
  }
   p{
    font-family: "montserrat";
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    line-height: 17.07px;
    margin: 0;
   
  }
  ul{

    text-decoration: none;
    margin: 0;
    padding: 0;
  }

 li{

    list-style-type: none;
    padding: 14px 22px;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.19px;
}


footer{

  text-align: center;
}

.knife{
color: #F2994A;
font-size: 64px;
}
.link-list{
  padding: 0;
  margin-left: 30%;

}
.color1{
  font-size: 22px;
  color: #4e2e12;
}

.ingredients{
  margin-bottom: 5%;
border: 1px solid black;
 box-shadow: 1px 2px 10px #4e2e12;
}
.buyer{
font-family: "playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.cheese{
  font-family: "playfair Display";
  font-weight: 400;
  line-height: 23px;

  font-size: 28px;
}

.instruction{

  color: white;
  background-color: #F2994A;
  font-size: 34px;
  margin: 20px;
}

.last-p{
  font-family: "montserrat";
  font-weight: 700;
  font-size: 16px;
  padding: 20px;
  line-height: 24px;
}

